@{
    ViewData["Title"] = "Weather";
}
<div class="row" style="background-color:steelblue">
    <h1>Weather App</h1>
    <div class="col-4">
        . <input class="form-control " type="text" id="cityName" placeholder="Enter city name" />
        <button class="btn btn-outline-light" id="searchBtn">Ara</button>
        <div id="weatherInfo" >
            <!-- Weather data will be populated here -->
        </div>
    </div>
    <div class="col-8">
        <div id="majorCitiesWeather" class="row">
            <!-- Major cities weathe r data will be populated here -->
        </div>
    </div>


</div>
  


   





    <script src="~/js/site.js"></script>
